<!-- Content -->
	<article class="container_12">
		
		<section class="grid_4">
			<div class="block-border"><div class="block-content">
				<h1>Op&eacute;rations rapides</h1>
				
				<ul class="favorites no-margin with-tip" title="Op&eacute;rations rapides">
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/chive.png" width="48" height="48">
						<a href="/ehcp/chive" target="_blank">Chive<br>
						<small>MySQL &gt; Chive</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/phpmyadmin.png" width="48" height="48">
						<a href="/phpmyadmin" target="_blank">PHPmyAdmin<br>
						<small>MySQL &gt; PHPmyAdmin</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/squirrelmail.png" width="48" height="48">
						<a href="webmail" target="_blank">Courrier Squirrel<br>
						<small>Email &gt; Courrier Squirrel</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/roundcube.png" width="48" height="48">
						<a href="webmail2" target="_blank">Courrier Roundcube<br>
						<small>Email &gt; Courrier RoundCube</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/net2ftp.png" width="48" height="48">
						<a href="net2ftp" target="_blank">Gestionaire de fichiers<br>
						<small>FTP &gt; Net2FTP/Gestionnaire de fichiers</small></a>
					</li>
					
					
					
				</ul>
				
				
				
			</div></div>
		</section>
		
		
		<section class="grid_8">
			<div class="block-border"><div class="block-content">
				<h1>Panneau de Contr&ocirc;le</h1>
				
				
			
				
				<h3>Email</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=editemailuserpassword" title="Changer le mot de passe">
						<img src="{templatedir}/images/icons/web-app/48/changepass.gif" width="48" height="48">Changer le mot de passe
					</a></li>
					<li><a href="?op=editemailuserautoreply" title="Changer la r&eacute;ponse automatique">
						<img src="{templatedir}/images/icons/web-app/48/Modify.png" width="48" height="48">Changer la r&eacute;ponse automatique
					</a></li>
					<li><a href="?op=emailforwardingsself" title="Lister/Ajouter des renvois d&apos;Email">
						<img src="{templatedir}/images/icons/web-app/48/email_forward.png" width="48" height="48">Lister/Ajouter des renvois d&apos;Email
					</a></li>
					<li><a href="webmail" title="Webmail/Courrier Squirrel" target="_blank">
						<img src="{templatedir}/images/icons/web-app/48/squirrelmail.png" width="48" height="48">Courrier Squirrel
					</a></li>
					<li><a href="webmail2" title="Webmail/Courrier Roundcube" target="_blank">
						<img src="{templatedir}/images/icons/web-app/48/roundcube.png" width="48" height="48">Courrier RoundCube
					</a></li>
				</ul>
				
				
			
			</div></div>
		</section>
		
				
	
	<!-- End content -->
	
	<footer>
		<!--
		<div class="float-left">
			<a href="#" class="button">Aide</a>
			<a href="#" class="button">A propos</a>
		</div>
		-->
		<div class="float-right">
			<a href="#top" class="button"><img src="{templatedir}/images/icons/fugue/navigation-090.png" width="16" height="16"> Haut de la page</a>
		</div>
		
	</footer>

<!--[if lt IE 8]></div><![endif]-->
<!--[if lt IE 9]></div><![endif]-->
