<!-- Content -->
	<article class="container_12">
		
		<section class="grid_4">
			<div class="block-border"><div class="block-content">
				<h1>Op&eacute;rations rapides</h1>
				
				<ul class="favorites no-margin with-tip" title="Op&eacute;rations rapides">
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/globe_icon.png" width="48" height="48">
						<a href="?op=changedomainserverip">Changer l&apos;IP du serveur du Domaine<br>
						<small>Domaines &gt; Changer l&apos;IP du Domaine</small></a>
					</li>
					<li>
						<img src="{templatedir}/images/icons/web-app/48/dns.png" width="48" height="48">
						<a href="?op=editdnstemplate">Modifier le template DNS<br>
						<small>Domaines &gt; Modifier le template DNS</small></a>
					</li>
					
					
				</ul>
				
				
				
			</div></div>
		</section>
		
		
		<section class="grid_8">
			<div class="block-border"><div class="block-content">
				<h1>Panneau de Contr&ocirc;le</h1>
				
				
				<h3>Op&eacute;rations sur le Domaine</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=changedomainserverip" title="Change Domain Server ip">Changer l&apos;IP du serveur du Domaine</a><li>
					<li><a href="?op=editdnstemplate" title="Edit dns template for this domain">Modifier le template DNS</a><li>
					<li><a href="?op=deletedomain" title="DELETE DOMAIN/HOSTING">SUPPRIMER LE DOMAINE/HEBERGEMENT</a><li>
				</ul>
				
			
			</div></div>
		</section>
		
				
	
	<!-- End content -->
	
	<footer>
		<!--
		<div class="float-left">
			<a href="#" class="button">Aide</a>
			<a href="#" class="button">A propos</a>
		</div>
		-->
		<div class="float-right">
			<a href="#top" class="button"><img src="{templatedir}/images/icons/fugue/navigation-090.png" width="16" height="16"> Haut de la page</a>
		</div>
		
	</footer>

<!--[if lt IE 8]></div><![endif]-->
<!--[if lt IE 9]></div><![endif]-->