	<!-- Content -->
	<article class="container_12">
		
		<section class="grid_4">
			<div class="block-border"><div class="block-content">
				<h1>Op&eacute;rations rapides</h1>
				
				<ul class="favorites no-margin with-tip" title="Op&eacute;rations rapides">
					
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/sync-icon.png" width="48" height="48">
						<a href="?op=dosyncdomains">Synchroniser les Domaines<br>
						<small>Syst&egrave;me &gt; Synchroniser les Domaines</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/reload-dns.png" width="48" height="48">
						<a href="?op=dosyncdns">Recharger les zones DNS<br>
						<small>Syst&egrave;me &gt; Recharger les zones DNS</small></a>
					</li>
					
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/diskquota.png" width="48" height="48">
						<a href="?op=doupdatediskquota">Actualiser les Quotas disque<br>
						<small>Syst&egrave;me &gt; Actualiser les quotas disque pour tous les domaines</small></a>
					</li>
					

					
				</ul>
				
				
				
			</div></div>
		</section>
		
		
		<section class="grid_8">
			<div class="block-border"><div class="block-content">
				<h1>Panneau de Contr&ocirc;le</h1>
				
				<h3>Panneaux Utilisateurs</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=listpanelusers" title="Lister tous les utilisateurs du panel et les clients">
						<img src="{templatedir}/images/icons/web-app/48/listpaneluser.png" width="48" height="48">Utilisateurs
					</a></li>
					<li><a href="?op=addpaneluser" title="Ajouter un nouvel utilisateur de panel ou un client">
						<img src="{templatedir}/images/icons/web-app/48/addpaneluser.png" width="48" height="48">Ajouter un utilisateur
					</a></li>
				</ul>
				
				<h3>Domaines</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=selectdomain">
						<img src="{templatedir}/images/icons/web-app/48/Bar-Chart.png" width="48" height="48">Domaines
					</a></li>
					<li><a href="?op=adddomain">
						<img src="{templatedir}/images/icons/web-app/48/adddomain.png" width="48" height="48">Ajouter un domaine
					</a></li>
					<li><a href="?op=adddomaineasy">
						<img src="{templatedir}/images/icons/web-app/48/adddomain.png" width="48" height="48">Ajouter un domaine facilement
					</a></li>
					<li><a href="?op=customdns">
						<img src="{templatedir}/images/icons/web-app/48/dns.png" width="48" height="48">DNS personnalis&eacute;s
					</a></li>
					<li><a href="?op=customhttp">
						<img src="{templatedir}/images/icons/web-app/48/http.png" width="48" height="48">HTTP personnalis&eacute;s
					</a></li>
					<li><a href="?op=directories">
						<img src="{templatedir}/images/icons/web-app/48/pass.png" width="48" height="48">Dossiers proteg&eacute;s par mot de passe
					</a></li>					
					</ul>
					
				
				<h3>FTP</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=listallftpusers" title="Liste de tous les utilisateur FTP">
						<img src="{templatedir}/images/icons/web-app/48/listftp.png" width="48" height="48">Utilisateurs FTP
					</a></li>
					<li><a href="?op=addftpuser" title="Ajouter un nouvel utilisateur FTP">
						<img src="{templatedir}/images/icons/web-app/48/ftp-icon.png" width="48" height="48">Ajouter un utilisateur FTP
					</a></li>
					<li><a href="?op=listftpusersrelatedtodomains" title="Liste tous les utilisateurs FTP li&eacute;s &agrave; des Domaines">
						<img src="{templatedir}/images/icons/web-app/48/listftp.png" width="48" height="48">Utilisateurs FTP de Domaines
					</a></li>
					<li><a href="?op=listftpuserswithoutdomain" title="Liste tous les utilisateurs FTP sans Domaine">
						<img src="{templatedir}/images/icons/web-app/48/listftp.png" width="48" height="48">Utilisateurs FTP sans Domaine
					</a></li>
					<li><a href="net2ftp" title="Net2FTP/Gestionnaire de Fichiers" target="_blank">
						<img src="{templatedir}/images/icons/web-app/48/net2ftp.png" width="48" height="48">Gestionnaire de Fichiers
					</a></li>
				</ul>
				
				<h3>Email</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=listemailusers" title="Liste des adresses Email d&apos;un Domaine">
						<img src="{templatedir}/images/icons/web-app/48/Modify.png" width="48" height="48">Adresses Email d&apos;un Domaine
					</a></li>
					<li><a href="?op=addemailuser" title="Ajouter une adresse Email &agrave; un domaine donn&eacute;">
						<img src="{templatedir}/images/icons/web-app/48/Add.png" width="48" height="48">Ajouter une adresse Email
					</a></li>
					<li><a href="?op=bulkaddemail" title="Ajouter un lot d'adresses Email &agrave; un domaine donn&eacute;">
						<img src="{templatedir}/images/icons/web-app/48/Add.png" width="48" height="48">Ajout d&apos;adresses Email en masse
					</a></li>
					<li><a href="?op=emailforwardings" title="Liste des transferts d&apos;Email">
						<img src="{templatedir}/images/icons/web-app/48/email_forward.png" width="48" height="48">Emails transfer&eacute;es
					</a></li>
					<li><a href="webmail" title="Webmail/Courrier Squirrel" target="_blank">
						<img src="{templatedir}/images/icons/web-app/48/squirrelmail.png" width="48" height="48">Courrier Squirrel
					</a></li>
					<li><a href="webmail2" title="Webmail/Courrier Roundcube" target="_blank">
						<img src="{templatedir}/images/icons/web-app/48/roundcube.png" width="48" height="48">Courrier Roundcube
					</a></li>
				</ul>
				
				
				<h3>MySQL</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=domainop&amp;action=listdb" title="Liste de toutes les bases de donn&eacute;es MYSQL">
						<img src="{templatedir}/images/icons/web-app/48/mysql.gif" width="48" height="48">Bases de donn&eacute;es MySQL
					</a></li>
					<li><a href="?op=addmysqldb" title="Ajoute une base de donn&eacute;es MYSQL &amp; son utilisateur &agrave; un Domaine">
						<img src="{templatedir}/images/icons/web-app/48/mysqladd.gif" width="48" height="48">Cr&eacute;er une base de donn&eacute;es MySQL &amp; un utilisateur
					</a></li>
					<li><a href="/phpmyadmin" target="_blank" title="PHPmyAdmin">
						<img src="{templatedir}/images/icons/web-app/48/phpmyadmin.png" width="48" height="48">PHPmyAdmin
					</a></li>
					<li><a href="/ehcp/chive" target="_blank" title="Chive">
						<img src="{templatedir}/images/icons/web-app/48/chive.png" width="48" height="48">Chive
					</a></li>
				</ul>
				
				<h3>Syst&egrave;me</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=changemypass">
						<img src="{templatedir}/images/icons/web-app/48/changepass.gif" width="48" height="48">Changer de mot de passe
					</a></li>
				</ul>
			</div></div>
		</section>
		
				
	
	<!-- End content -->
	
	<footer>
		<!--
		<div class="float-left">
			<a href="#" class="button">Aide</a>
			<a href="#" class="button">A propos</a>
		</div>
		-->
		<div class="float-right">
			<a href="#top" class="button"><img src="{templatedir}/images/icons/fugue/navigation-090.png" width="16" height="16"> Haut de la page</a>
		</div>
		
	</footer>

<!--[if lt IE 8]></div><![endif]-->
<!--[if lt IE 9]></div><![endif]-->