
	
	<!-- Content -->
	<article class="container_12">
		
		<section class="grid_4">
			<div class="block-border"><div class="block-content">
				<h1>Op&eacute;rations rapides</h1>
				
				<ul class="favorites no-margin with-tip" title="Op&eacute;rations rapides">
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/phpmyadmin.png" width="48" height="48">
						<a href="/phpmyadmin" target="_blank">PHPmyAdmin<br>
						<small>MySQL &gt; PHPmyAdmin</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/squirrelmail.png" width="48" height="48">
						<a href="webmail" target="_blank">Squirrel Mail<br>
						<small>Email &gt; Courrier Squirrel</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/roundcube.png" width="48" height="48">
						<a href="webmail2" target="_blank">Roundcube Mail<br>
						<small>Email &gt; Courrier RoundCube</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/net2ftp.png" width="48" height="48">
						<a href="net2ftp" target="_blank">Gestionnaire de fichiers<br>
						<small>FTP &gt; Net2FTP/Gestionnaire de fichiers</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/Save.png" width="48" height="48">
						<a href="?op=backups">Sauvegarde du Domaine<br>
						<small>Syst&egrave;me &gt; G&eacute;n&eacute;rer/Lister les sauvegardes du Domaine
						</small></a>
					</li>
					
				</ul>
				
				
				
			</div></div>
		</section>
		
		
		<section class="grid_8">
			<div class="block-border"><div class="block-content">
				<h1>Panneau de contr&ograve;le</h1>
				
				
				<h3>Operations sur le Domaine</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=subdomains">
						<img src="{templatedir}/images/icons/web-app/48/Bar-Chart.png" width="48" height="48">Sous-Domaines
					</a></li>
					<li><a href="?op=addsubdomain">
						<img src="{templatedir}/images/icons/web-app/48/adddomain.png" width="48" height="48">Cr&eacute;er un Sous-Domaine
					</a></li>
					<li><a href="?op=customdns">
						<img src="{templatedir}/images/icons/web-app/48/dns.png" width="48" height="48">DNS personnalis&eacute;s
					</a></li>
					<li><a href="?op=addcustomdns">
						<img src="{templatedir}/images/icons/web-app/48/dns.png" width="48" height="48">Cr&eacute;er un DNS personnalis&eacute;
					</a></li>
					<li><a href="?op=customhttp">
						<img src="{templatedir}/images/icons/web-app/48/http.png" width="48" height="48">HTTP personnalis&eacute;s
					</a></li>
					<li><a href="?op=addcustomhttp">
						<img src="{templatedir}/images/icons/web-app/48/http.png" width="48" height="48">r&eacute;er un HTTP personnalis&eacute;
					</a></li>
					</ul>
					<ul class="shortcuts-list">
					<li><a href="?op=directories">
						<img src="{templatedir}/images/icons/web-app/48/pass.png" width="48" height="48">Dossiers proteg&eacute;s par mot de passe
					</a></li>
					<li><a href="?op=adddirectory">
						<img src="{templatedir}/images/icons/web-app/48/pass.png" width="48" height="48">Prot&eacute;ger un dossier par mot de passe
					</a></li>
					<li><a href="?op=editdnstemplate">
						<img src="{templatedir}/images/icons/web-app/48/dns.png" width="48" height="48">Modifier le template DNS
					</a></li>
					<li><a href="?op=editapachetemplate">
						<img src="{templatedir}/images/icons/web-app/48/apache-2.png" width="48" height="48">Modifier le template Apache
					</a></li>
					<li><a href="?op=editdomainaliases">
						<img src="{templatedir}/images/icons/web-app/48/alias.gif" width="48" height="48">Modifier les Alias de Domaine
					</a></li>
				</ul>
				
				<h3>FTP</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=listallftpusers" title="Liste de tous les utilisateur FTP">
						<img src="{templatedir}/images/icons/web-app/48/listftp.png" width="48" height="48">Utilisateurs FTP
					</a></li>
					<li><a href="?op=addsubdirectorywithftp" title="Ajouter un sous-r&eacute;pertoire par FTP (sous le nom de domaine)">
						<img src="{templatedir}/images/icons/web-app/48/ftp-icon.png" width="48" height="48">Ajouter un sous-r&eacute;pertoire par FTP
					</a></li>
					<li><a href="?op=addftptothispaneluser" title="Ajouter un nouvel espace FTP dans mon espace FTP">
						<img src="{templatedir}/images/icons/web-app/48/ftp-icon.png" width="48" height="48">Ajouter un nouvel espace FTP dans mon espace FTP
					</a></li>
					<li><a href="?op=addsubdomainwithftp" title="Ajouter un sous-domaine et un FTP &agrave un domaine donn&eacute;">
						<img src="{templatedir}/images/icons/web-app/48/subdomainftp.png" width="48" height="48">Ajouter un Sous-domaine et un FTP
					</a></li>
					<li><a href="net2ftp" title="Net2FTP/Gestionnaire de Fichiers" target="_blank">
						<img src="{templatedir}/images/icons/web-app/48/net2ftp.png" width="48" height="48">Gestionnaire de Fichiers
					</a></li>
				</ul>
				
				<h3>Email</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=listemailusers" title="Liste de toutes les adresses Email">
						<img src="{templatedir}/images/icons/web-app/48/Modify.png" width="48" height="48">Adresses Email
					</a></li>
					<li><a href="?op=addemailuser" title="Ajouter une adresse Email &agrave; un domaine donn&eacute;">
						<img src="{templatedir}/images/icons/web-app/48/Add.png" width="48" height="48">Ajouter une adresse Email
					</a></li>
					<li><a href="?op=bulkaddemail" title="Ajouter un lot d'adresses Email &agrave; un domaine donn&eacute;">
						<img src="{templatedir}/images/icons/web-app/48/Add.png" width="48" height="48">Ajout d&apos;adresses Email en masse
					</a></li>
					<li><a href="?op=emailforwardings" title="Liste des transferts d&apos;Email">
						<img src="{templatedir}/images/icons/web-app/48/email_forward.png" width="48" height="48">Emails transfer&eacute;es
					</a></li>
					<li><a href="?op=addemailforwarding" title="Cr&eacute;er un transfert d&apos;Email">
						<img src="{templatedir}/images/icons/web-app/48/emailforward_add.png" width="48" height="48">Cr&eacute;er un transfert d&apos;Email
					</a></li>
					</ul>
					<ul class="shortcuts-list">
					<li><a href="webmail" title="Webmail/Courrier Squirrel" target="_blank">
						<img src="{templatedir}/images/icons/web-app/48/squirrelmail.png" width="48" height="48">Courrier Squirrel
					</a></li>
					<li><a href="webmail2" title="Webmail/Courrier Roundcube" target="_blank">
						<img src="{templatedir}/images/icons/web-app/48/roundcube.png" width="48" height="48">Courrier RoundCube
					</a></li>
				</ul>
				
				
				<h3>MySQL</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=domainop&amp;action=listdb" title="Liste de toutes les bases de donn&eacute;es MYSQL">
						<img src="{templatedir}/images/icons/web-app/48/mysql.gif" width="48" height="48">Bases de donn&eacute;es MySQL
					</a></li>
					<li><a href="?op=addmysqldb" title="Ajoute une base de donn&eacute;es MYSQL &amp; son utilisateur &agrave; un Domaine">
						<img src="{templatedir}/images/icons/web-app/48/mysqladd.gif" width="48" height="48">Cr&eacute;er une base de donn&eacute;es MySQL &amp; un utilisateur
					</a></li>
					<li><a href="?op=addmysqldbtouser" title="Ajouter une base de donn&eacute;es MYSQL &agrave; un utilisateur de base de donn&eacute;es existant">
						<img src="{templatedir}/images/icons/web-app/48/mysqladd.gif" width="48" height="48">Ajouter une base de donn&eacute;es MySQL &agrave; un utilisateur existant
					</a></li>
					<li><a href="?op=dbadduser" title="Ajouter un utilisateur MYSQL &agrave; une base de donn&eacute;es existante">
						<img src="{templatedir}/images/icons/web-app/48/mysqladd.gif" width="48" height="48">Ajouter un utilisateur MYSQL &agrave; une base de donn&eacute;es existante
					</a></li>
					<li><a href="/phpmyadmin" target="_blank" title="PHPmyAdmin">
						<img src="{templatedir}/images/icons/web-app/48/phpmyadmin.png" width="48" height="48">PHPmyAdmin
					</a></li>
					<li><a href="/ehcp/chive" target="_blank" title="Chive">
						<img src="{templatedir}/images/icons/web-app/48/chive.png" width="48" height="48">Chive
					</a></li>
				</ul>
				
				<h3>Avanc&eacute;</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=editdomain">
						<img src="{templatedir}/images/icons/web-app/48/active-deactive.png" width="48" height="48">Activer / D&eacute;sactivater un Domaine
					</a></li>
					<li><a href="?op=transferdomain">
						<img src="{templatedir}/images/icons/web-app/48/transfer.png" width="48" height="48">Transf&eacute;rer un Domaine
					</a></li>
					<li><a href="?op=backups">
						<img src="{templatedir}/images/icons/web-app/48/Save.png" width="48" height="48">G&eacute;n&eacute;rer / Lister les sauvegardes du Domaine
					</a></li>
					<li><a href="?op=addredirect">
						<img src="{templatedir}/images/icons/web-app/48/domain_redirect.png" width="48" height="48">Rediriger vers une autre URL
					</a></li>
					<li><a href="?op=custompermissions">
						<img src="{templatedir}/images/icons/web-app/48/permissions.jpg" width="48" height="48">Permissions de fichier personnalis&eacute;es
					</a></li>
					<li><a href="?op=domainsettings">
						<img src="{templatedir}/images/icons/web-app/48/settings.png" width="48" height="48">Changer les r&eacute;glages
					</a></li>
					</ul>
					<ul class="shortcuts-list">
					<li><a href="?op=deletedomain">
						<img src="{templatedir}/images/icons/web-app/48/Delete.png" width="48" height="48">Supprimer un compte
					</a></li>
					<li><a href="http://www.{selecteddomain}/webstats/index.html" target="_blank">
						<img src="{templatedir}/images/icons/web-app/48/webstats.png" width="48" height="48">Statistiques Web
					</a></li>
					<li><a href="?op=addscript">
						<img src="{templatedir}/images/icons/web-app/48/install.gif" width="48" height="48">Scripts d&apos;installation
					</a></li>
					<li><a href="?op=setdefaultdomain">
						<img src="{templatedir}/images/icons/web-app/48/globe_icon.png" width="48" height="48">D&eacute;finir en tant que Domaine par d&eacute;faut
					</a></li>
					<li><a href="?op=addslavedns">
						<img src="{templatedir}/images/icons/web-app/48/dns_slave.png" width="48" height="48">Ajouter-supprimer Dns esclave
					</a></li>					
					<li><a href="?op=changemypass">
						<img src="{templatedir}/images/icons/web-app/48/changepass.gif" width="48" height="48">Changer le Mot de Passe
					</a></li>
				</ul>
			</div></div>
		</section>
		
				
	
	<!-- End content -->
	
	<footer>
		<!--
		<div class="float-left">
			<a href="#" class="button">Aide</a>
			<a href="#" class="button">A propos</a>
		</div>
		-->
		<div class="float-right">
			<a href="#top" class="button"><img src="{templatedir}/images/icons/fugue/navigation-090.png" width="16" height="16"> Haut de la page</a>
		</div>
		
	</footer>

<!--[if lt IE 8]></div><![endif]-->
<!--[if lt IE 9]></div><![endif]-->