	<!-- Content -->
	<article class="container_12">
		
		<section class="grid_4">
			<div class="block-border"><div class="block-content">
				<h1>Op&eacute;rations rapides</h1>
				
				<ul class="favorites no-margin with-tip" title="Op&eacute;rations rapides">
					
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/listpaneluser.png" width="48" height="48">
						<a href="?op=listpanelusers">Utilisateurs<br>
						<small>Panel User &gt; Lister tous les utilisateurs du panel</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/addpaneluser.png" width="48" height="48">
						<a href="?op=addpaneluser">Ajouter un utilisateur<br>
						<small>Utilisateurs &gt; Ajouter un utilisateur<</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/adddomain.png" width="48" height="48">
						<a href="?op=adddomain">Ajouter un domaine<br>
						<small>Domaines &gt; Ajouter un domaine avec un Panel &amp; FTP<</small></a>
					</li>
					
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/diskquota.png" width="48" height="48">
						<a href="?op=doupdatediskquota">Actualiser les Quotas disque<br>
						<small>System &gt; Actualiser les quotas disque pour tous les domaines</small></a>
					</li>
					

					
				</ul>
				
				
				
			</div></div>
		</section>
		
		
		<section class="grid_8">
			<div class="block-border"><div class="block-content">
				<h1>Panneau de Contr&ocirc;le</h1>
				
				<h3>Panneaux Utilisateurs</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=listpanelusers" title="Lister tous les utilisateurs du panel et les clients">
						<img src="{templatedir}/images/icons/web-app/48/listpaneluser.png" width="48" height="48">Utilisateurs
					</a></li>
					<li><a href="?op=addpaneluser" title="Ajouter un nouvel utilisateur de panel ou un client">
						<img src="{templatedir}/images/icons/web-app/48/addpaneluser.png" width="48" height="48">Ajouter un utilisateur
					</a></li>
				</ul>
				
				<h3>Domaines</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=selectdomain">
						<img src="{templatedir}/images/icons/web-app/48/Bar-Chart.png" width="48" height="48">Domaines
					</a></li>
					<li><a href="?op=adddomain">
						<img src="{templatedir}/images/icons/web-app/48/adddomain.png" width="48" height="48">Ajouter un domaine avec un FTP &amp; un compte utilisateur s&eacute;par&eacute;s
					</a></li>
					<li><a href="?op=addDomainToThisPaneluser">
						<img src="{templatedir}/images/icons/web-app/48/adddomain.png" width="48" height="48">Ajouter un domaine
					</a></li>
					<li><a href="?op=adddomaineasy">
						<img src="{templatedir}/images/icons/web-app/48/adddomain.png" width="48" height="48">Ajouter un domaine facilement
					</a></li>
					<li><a href="?op=bulkadddomain">
						<img src="{templatedir}/images/icons/web-app/48/adddomain.png" width="48" height="48">Ajouter des domaines en masse
					</a></li>
					<li><a href="?op=adddnsonlydomainwithpaneluser">
						<img src="{templatedir}/images/icons/web-app/48/dns.png" width="48" height="48">Ajouter un h&eacute;bergement dns avec un panneau utilisateur
					</a></li>
					</ul>
					<ul class="shortcuts-list">
					<li><a href="?op=adddnsonlydomain">
						<img src="{templatedir}/images/icons/web-app/48/dns.png" width="48" height="48">Ajouter un h&eacute;bergement DNS simple
					</a></li>
					<li><a href="?op=listpassivedomains">
						<img src="{templatedir}/images/icons/web-app/48/domain_passive.png" width="48" height="48">Domaines Passifs
					</a></li>
				</ul>
				
				<h3>FTP</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=listallftpusers" title="Liste de tous les utilisateurs FTP">
						<img src="{templatedir}/images/icons/web-app/48/listftp.png" width="48" height="48">Utilisateurs FTP
					</a></li>
					<li><a href="?op=addftpuser" title="Ajouter un nouvel utilisateur FTP">
						<img src="{templatedir}/images/icons/web-app/48/ftp-icon.png" width="48" height="48">Nouvel utilisateur FTP
					</a></li>
					<li><a href="?op=addftptothispaneluser" title="Ajouter un nouvel utilisateur FTP pour ce panneau">
						<img src="{templatedir}/images/icons/web-app/48/ftp-icon.png" width="48" height="48">Nouvel utilisateur FTP pour ce panneau
					</a></li>
					<li><a href="?op=addsubdirectorywithftp" title="Ajouter un nouvel utilisateur FTP &agrave; un domaine sp&eacute;cifique">
						<img src="{templatedir}/images/icons/web-app/48/ftp-icon.png" width="48" height="48">Ajouter un FTP &agrave; un domaine
					</a></li>
					<li><a href="?op=addsubdomainwithftp" title="Ajouter un Sous-domaine et un FTP &agrave; un domaine donn&eacute;">
						<img src="{templatedir}/images/icons/web-app/48/subdomainftp.png" width="48" height="48">Ajouter un Sous-domaine et un FTP
					</a></li>
					<li><a href="net2ftp" title="Net2FTP/Gestionnaire de fichiers" target="_blank">
						<img src="{templatedir}/images/icons/web-app/48/net2ftp.png" width="48" height="48">Gestionnaire de fichiers
					</a></li>
				</ul>
				
				<h3>Email</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=listallemailusers" title="Lister toutes les adresses Email">
						<img src="{templatedir}/images/icons/web-app/48/Modify.png" width="48" height="48">Adresses Email
					</a></li>
					<li><a href="?op=addemailuser" title="Ajouter une adresse Email Address &agrave; un domaine">
						<img src="{templatedir}/images/icons/web-app/48/Add.png" width="48" height="48">Ajouter une adresse Email
					</a></li>
					<li><a href="webmail" title="Webmail/Courrier Squirrel" target="_blank">
						<img src="{templatedir}/images/icons/web-app/48/squirrelmail.png" width="48" height="48">Courrier Squirrel
					</a></li>
					<li><a href="webmail2" title="Webmail/Courrier Roundcube" target="_blank">
						<img src="{templatedir}/images/icons/web-app/48/roundcube.png" width="48" height="48">Courrier Roundcube
					</a></li>
				</ul>
				
				
				<h3>MySQL</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=domainop&amp;action=listdb" title="Liste toutes les bases de don&eacute;es MYSQL">
						<img src="{templatedir}/images/icons/web-app/48/mysql.gif" width="48" height="48">Bases de don&eacute;es MYSQL
					</a></li>
					<li><a href="?op=addmysqldb" title="Ajouter une base de don&eacute;es MYSQL &amp; un utilisateur &agrave; un domaine">
						<img src="{templatedir}/images/icons/web-app/48/mysqladd.gif" width="48" height="48">Ajouter base de donn&eacute;es MYSQL &amp; Utilisateur
					</a></li>
					<li><a href="?op=addmysqldbtouser" title="Ajouter une base de don&eacute;es MYSQL &agrave; un utilisateur MYSQL existant">
						<img src="{templatedir}/images/icons/web-app/48/mysqladd.gif" width="48" height="48">Ajouter une base de donn&eacute;es MYSQL &agrave; un utilisateur existant
					</a></li>
					<li><a href="?op=dbadduser" title="Ajouter un utilisateur MYSQL &agrave; une bases de don&eacute;es existante">
						<img src="{templatedir}/images/icons/web-app/48/mysqladd.gif" width="48" height="48">Ajouter un utilisateur MYSQL &agrave; une bases de don&eacute;es existante
					</a></li>
					<li><a href="/phpmyadmin" target="_blank" title="PHPmyAdmin">
						<img src="{templatedir}/images/icons/web-app/48/phpmyadmin.png" width="48" height="48">PHPmyAdmin
					</a></li>
					<li><a href="/ehcp/chive" target="_blank" title="Chive">
						<img src="{templatedir}/images/icons/web-app/48/chive.png" width="48" height="48">Chive
					</a></li>
				</ul>
				
				<h3>Syst&egrave;me</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=changemypass">
						<img src="{templatedir}/images/icons/web-app/48/changepass.gif" width="48" height="48">Changer de mot de passe
					</a></li>
				</ul>
			</div></div>
		</section>
		
				
	
	<!-- End content -->
	
	<footer>
		<!--
		<div class="float-left">
			<a href="#" class="button">Aide</a>
			<a href="#" class="button">A propos</a>
		</div>
		-->
		<div class="float-right">
			<a href="#top" class="button"><img src="{templatedir}/images/icons/fugue/navigation-090.png" width="16" height="16"> Page top</a>
		</div>
		
	</footer>

<!--[if lt IE 8]></div><![endif]-->
<!--[if lt IE 9]></div><![endif]-->